*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.main-nav{
    margin-top: 40px;
    float: right;
list-style: none;
}
.main-nav li{
    display: inline-block; 
    margin-left: 40px;

}
.main-nav li a:visited,
.main-nav li a:link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 90%;
}
.main-nav li a:active,
.main-nav li a:hover{
border-bottom: 2px solid rgb(255, 255, 255);
}
.row{
    width: 1140px;
    margin: 0 auto;
}
.header-box{
    height: 100vh;
background-image: linear-gradient(rgba(10, 10, 10, 0.7), rgba(15, 15, 15, 0.6)), url(bg.jpg);
background-size: cover;
background-position: center;
}
.header-text{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-main{
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 4px;
    margin-bottom: 30px;
}
.btn{
    text-decoration: none;
    color: white;
    border: 1px solid;
    border-radius: 30px;
    padding: 10px 30px;
    margin-left: 20px;
}
.btn-hungry:visited,
.btn-hungry:link{
    color: rgb(255, 255, 255);
}
.btn-hungry:active,
.btn-hungry:hover{
    background-color: white;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}
.btn-more:visited,
.btn-more:link{
}
.btn-more:active,
.btn-more:hover{
background-color: white;
color: black;
transition: 0.5s;
}
html{
    background-color: #fff; 
    color: #555;
    font-family: "Lato", "Verdana";
    text-rendering: optimizeLegibility;
}
.logo{
    margin-top: 20px;
    float: left;
    width: auto;
    height: 80px;
}
.section-one{
    height: 100vh;
    background-image: url(bg2.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 8%;
}
.section-two{
    height: 90vh;
    background-image: linear-gradient(rgba(20, 20, 20, 0.5), rgba(15, 15, 15, 0.4)), url(bg3.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 8%;
}
.card{
    width: 30%;
    background-color: white;
    min-height: 60%;
    padding: 10px;
    display: inline-block;
    margin-right: 30px;
    box-shadow: -2px 9px 26px 4px rgba(0,0,0,0.56);
-webkit-box-shadow: -2px 9px 26px 4px rgba(0,0,0,0.56);
-moz-box-shadow: -2px 9px 26px 4px rgba(0,0,0,0.56);
}
.card-img{
    width: 100%;
    height: 200px;
}
.card h3{
    padding: 20px;
    text-transform: uppercase;
    font-size: 80%;
    text-align: center;
}
.card h4{
    padding: 20px;
    text-transform: uppercase;
    font-size: 70%;
    text-align: center;
    margin-bottom: -20px;
}
.card p {
    padding: 20px;
    text-transform: uppercase;
    font-size: 70%;
    text-align: center;
}
.btn-card:visited,
.btn-card:link{
    font-size: 80%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    text-transform: uppercase;
    margin-left: 109px;
    transition: 0.5s;
}
.btn-card:active,
.btn-card:hover{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    background-color: black;
    transition: 0.5s;
}
.OTC-image{
    width: 100px;
}
.ourteam{
    text-align: center;
    color: white;
    margin-top: -85px;
    font-size: 200%;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 4px;
    margin-bottom: 30px;
}
.OTcards{
    width: 100%;
    padding: 20px;
    height: 200px;
    margin-bottom: -20px;
}
.OTC-image{
    width: 15%;
    float: left;
    height: auto;
    display: inline-block;
}
.OTC-details{
    float: left;
    margin-left: 20px;
    display: inline-block;
    width: 800px;
    color: white;
}
.OTC-name{
    margin-bottom: 10px;
    font-size: 120%;
}
.OTC-p{
    font-size: 80%;
}
.clearfix{
    clear: both;
}
footer{
    height: 10vh;
    background-color: #1c1c1c;
}
.footer-div{
    width: 45%;
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.ft{
    padding: 20px;
    font-size: 60%;
}
.ft2{
    padding: 20px;
}
.ft2 i{
    margin-right: 10px;
    font-size: 150%;
}
.icon{
    width: auto;
    height: 20px;
}